
.centeredPlayBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomLeft{
  position: absolute;
  transform: translate(0%,535%)
}
.css-1r4vtzz,.css-48ayfv{
  box-shadow: none !important;
  margin: 0 auto !important;
  display: flex !important;
  /* flex-direction: column; */
}

#thisDiv{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

