.centered {
  position: absolute;
  bottom: 8px;
  /* transform: translate(-50%, -50%); */
}
/* body {  min-width: 800px;
 } */
/* .text {
  font-size: 1.5vw;
  padding-left: 1.5vw;
  width: 100%;
} */
.centeredPlayBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomLeft{
  position: absolute;
  transform: translate(0%,535%)
}
.css-1r4vtzz,.css-48ayfv{
  box-shadow: none !important;
  margin: 0 auto !important;
  display: flex !important;
  /* flex-direction: column; */
}


 
/* .leftDown{
  position: absolute;
  bottom: 1px;
  left: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
} */
#thisDiv{
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

